* {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 20px auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  margin-bottom: 20px;
}
.header h2 {
  text-align: center;
  margin-top: 10px;
}
.main {
  display: flex;
  gap: 60px;
  line-height: 1.6;
  margin: 20px;
}
.card {
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card > p {
  margin-top: 20px;
}
.author {
  margin-top: 20px;
}

.author p {
  margin-top: 10px;
  font-size: 12px;
  color: darkblue;
}

.content p {
  margin-bottom: 20px;
}
