* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.app {
  background: #a5a8a8;
  min-height: 100vh;
  margin: 0 auto;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-content {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.form-content input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.form-content button {
  padding: 6px 8px;
  border: none;
  background-color: #007bff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.form-content button:hover {
  background-color: #044e9e;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid #000000;
}
th,
td {
  padding: 4px 2px;
  text-align: center;
  border-bottom: 1px solid #000000;
}
td button {
  padding: 6px 8px;
  border: none;
  background-color: #ee730f;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
}

#thongKe {
  font-weight: bold;
}

#TB {
  margin-top: 5px;
}
